{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <div class="columns">
        {% if difficulty %}
            <h2>{{difficulty.label}}</h2>
        {% else %}
            <h2>Ajouter une difficulté</h2>
        {% endif %}

        <form action="{{ formPost }}" method="POST">
            <label>Nom de la difficulté</label>
            <input type="text" name="label" value="{{ difficulty.label }}" placeholder="Nom de la difficulté"/>
            <label>Distance de calibration</label>
            <input type="number" name="distance" value="{{ difficulty.distance }}" placeholder="Distance de calibration"/>
            <label>Nombre de photos d'une partie</label>
            <input type="number" name="nb_photo" value="{{ difficulty.nb_photo }}" placeholder="Nombre de photos d'une partie"/>
            <input type="hidden" name="token" value="{{ token }}"/>
            {% if difficulty %}
                <input type="submit" class="button" name="edit" value="Editer"/>
                <input type="submit" class="button" name="delete" value="Supprimer"/>
            {% else %}
                <input type="submit" class="button" value="Enregistrer"/>
            {% endif %}
        </form>
    </div>

{% endblock %}