<section ng-controller="CityCtrl">
    <h3 class="text-center">Bonjour, {{username}}</h3>

    <div class="small-12 large-centered columns">
        <p>Choisissez un lieu :</p>
        <input type="text" ng-model="search.name"/>
    </div>
    <city ng-repeat="city in cities | filter:search:strict" class="small-12 medium-6 large-4 columns" ng-class="{'end':$last}"></city>
    <modal></modal>
</section>