<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ constant('ROOT_PATH') }}/bower_components/foundation/js/foundation.min.js"></script>
<script src="{{ constant('ROOT_PATH') }}/bower_components/modernizr/modernizr.js"></script>
<script>
    $(document).ready(function() {
        $(document).foundation();
    });
</script>
</body>
</html>