<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{%  if title is defined %}
    <title>{{ title }}</title>
{% else %}
    <title>PhotoLocate</title>
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ constant('ROOT_PATH') }}/stylesheet/css/app.css">