<div class="small-12 large-centered columns">
    <section ng-controller="AuthCtrl">

        <h2 class="text-center">PhotoLocate</h2>

        <p>Choisissez un pseudo pour commencer :</p>

        <form ng-submit="loadGame()">
            <input type="text" ng-model="user.username" required/>
            <div class="text-center">
                <input type="submit" class="button" value="Commencer"/>
            </div>
        </form>
    </section>
</div>