<!doctype html>
<html lang="fr">
<head>
    {% include 'head.html.twig' %}
    {% block head %}
    {% endblock %}
</head>
<body>

<div class="columns" style="background-image: url('{{ constant('ROOT_PATH') }}/image/wallpaper.jpg'); background-size:cover; padding-top: 5em; padding-bottom: 7em;">
    <div class="row text-center" style="padding: 1em; background-color: rgba(255,255,255,0.9); box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); ">
        <h1>PhotoLocate</h1>

        <h5>Testez vos connaissances en localisant les photos d'un lieu le plus vite possible !</h5>

        <h4 style="padding-top: 1.5em;">Commencez à jouer immédiatement sans compte !</h4>
        <a href="{{ link.play }}" class="button">Commencer</a> <br/>

        <p style="padding-top: 2em; margin-bottom: 0.5em;">Ajoutez les photos du lieu de votre choix à PhotoLocate gratuitement</p>
        <a href="{{ link.photo }}" class="button" style="margin-bottom: 2em;">Ajouter mes photos</a>
    </div>
</div>

<div class="columns">
    <div class="row">
        <h3 style="padding-top: 1em;">Comment jouer ?</h3>
        <p>Très simplement, vous choisissez un pseudo, puis séclectionnez un lieu, puis une difficulté, et le jeu est lancé !</p>
        <h3>Système de score</h3>
        <p>En fonction du temps et de la précision mis pour répondre, vous obtiendrez des points. Les points se cumulent à chaque image, et à la fin de la partie, vous voyez votre classement par rapport aux autres joueurs !</p>
        <h3>Ajout d'images</h3>
        <p>Vous voulez diversifier les images d'un lieu ? Créez simplement un compte, puis localisez la photo correspondant à un lieu, et votre photo sera ensuite intégrée dans la parties des joueurs !</p>
    </div>
</div>

{% include 'footer.html.twig' %}